<h1> <%= @movie.title %></h1>
<div class="movie-info">
  <div><%= @movie.director %></div>
  <div><%= @movie.year %></div>
  <div><%= @movie.country %></div>
  <div><%= @movie.runtime %></div>
</div>

<div data-ajax-replace="reviews-container">
  <%= render partial: "reviews", locals: {  movie: @movie, reviews: @movie.reviews } %>
</div>

<div class="likes-container" >
  <%= render partial: "likes", locals: { likes: @movie.likes.size } %>
</div>

<div class="like-form-container" data-button-container=true>
  <%= render partial: "like_button", locals: { likeable: @movie, like: @like } %>
</div>
